
# Dependencies
node_modules/
*/node_modules/

# Environment variables (مهم جدًا!)
.env
.env.local
.env.production
*.env

# Logs
logs/
*.log
npm-debug.log*

# Build output
dist/
build/
client/build/

# Database
*.sqlite
*.db
data/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

server/uploads/*
!server/uploads/.gitkeep

# Uploads
uploads/